#results {
    margin-top: 10vh;
}

.resultDisabled {
    font-size: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
}

.result {
    position: relative;
    width: 80%;
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto 4vh auto;

    overflow: hidden;
    border-radius: 80px 30px 80px 30px;
    border-bottom: 2px solid var(--main-hue);

    transition: 0.5s all ease-in-out;

    background-color: #4b4040;
    /* hex background */
    --s: 25px;
    --c1: #4c4141;
    --c2: #4b4040;
    --c: #0000, var(--c1) .5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425%/6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425%/6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175%/12), var(--c));
    background:
        var(--g1), var(--g1) var(--s) calc(1.73*var(--s)),
        var(--g2), var(--g2) var(--s) calc(1.73*var(--s)),
        var(--g3) var(--s) 0, var(--g3) 0 calc(1.73*var(--s)) var(--c2);
    background-size: calc(2*var(--s)) calc(3.46*var(--s));
    /* -------------- */
}

.name {
    margin: auto;
    width: fit-content;
    color: white;
    font-size: 36px;
    text-align: center;
    font-family: Bebas Neue;
    border-bottom: var(--main-hue) 1px dashed;
}

.subName {
    text-align: center;
    margin: auto;
    font-weight: 400;
    font-size: small;
    color: #020202;
}

.odcinki {
    color: var(--main-hue);
    margin: auto;
    text-align: center;
    margin-top: 14px;

}

.down {
    margin-top: 18px;
    margin-bottom: 9px;
    width: 100%;
}

.down button {
    display: block;
    margin: auto;
    border: 2px solid #3f3f3f;
    background-color: #524a42;
    color: white;
    font-size: medium;
    font-family: 'Quicksand';
    padding: 12px 46px;
    border-radius: 9px;
}

.down button:hover {
    cursor: pointer;
    border-color: var(--main-hue);
}

.down button:active {
    border-color: white;
}

.progress-bar {
    opacity: 0%;
    background-color: rgb(78, 90, 60);
    height: 3px;
    width: 90%;
    margin: 9px auto;
    transition: all 0.3s ease-in-out;
}

.inner-progres {
    transition: all 0.3s ease-in-out;
    opacity: 0%;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgb(169, 240, 62);
    height: 3px;
    width: 0%;
}

.date {
    margin-left: auto;
    margin-right: 30px;
}